.task-input-action {
    @extend %block-item;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
        display: none;
    }
}

.task-input {
    @extend %block-item;
    align-items: center;
    display: none;
    justify-content: space-between;
    margin: 0 auto;
    padding: 8px 16px;
    position: relative;

    @media (min-width: $tablet) {
        display: flex;
        margin-bottom: 40px;
    }

    &__text {
        background-color: transparent;
        border: 0;
        color: $color-light-blue;
        font-family: $font-medium;
        font-size: 16px;
        font-weight: 500;
        height: 32px;
        margin-right: auto;
        padding: 4px;
        width: 100%;

        &::placeholder {
            color: $color-gray-blue;
        }

        &:focus-visible {
            outline: none;

            & ~ button.btn {
                background-color: $color-active;

                &:hover {
                    background-color: $color-active-hover;
                }
            }
        }

        &:focus ~ button.btn,
        &:focus ~ .modal__actions button.btn {
            background-color: $color-active;

            &:hover {
                background-color: $color-active-hover;
            }
        }

        .modal & {
            display: block;
            flex-grow: 1;
            font-size: 18px;
            height: auto;
            margin: 0 auto;
            max-width: calc(100% - 50px);
        }
    }

    &__error-msg {
        bottom: -20px;
        color: $color-red;
        font-family: $font-medium;
        font-size: 12px;
        font-weight: 500;
        left: 16px;
        position: absolute;

        &:empty {
            display: none;
        }
    }

    &__label {
        margin: 4px 4px 0 0;
    }

    .toggle {
        @media (min-width: $tablet) {
            margin-left: 10px;
            margin-right: 30px;
        }
    }
}