.todo {

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        align-items: center;
        background-color: $color-night-blue;
        border-radius: 12px;
        color: $color-light-blue;
        display: flex;
        font-family: $font-medium;
        font-weight: 500;
        height: 60px;
        margin-bottom: 10px;
        padding: 0 15px;
    }

    &__icon {
        cursor:pointer;
        
        svg {
            pointer-events: none;
        }
    }
    
    &__counter {
        background-color: $color-light-blue;
        border-radius: 50%;
        color: $color-dark-blue;
        height: 20px;
        width: 20px;
    }
}

.todo-container {
    background-color: $color-dark-blue;
    padding: 0 35px;
}