.todo {

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0 0 22px;
        padding: 0;

        &:empty:after {
            color: $color-gray-blue;
            content: 'No task here';
            font-family: $font-medium;
            font-weight: 500;
            padding: 8px 0 0 16px;
        }
    }

    &__item {
        @extend %block-item;
        order: 2;
        margin-bottom: 10px;
        padding: 8px 15px;
        transition: all .25s ease-in-out;

        @media (hover: hover) {
            &:hover {
                box-shadow: 0 8px 18px 0 rgba(0,0,0,.16);

                > div.todo__icon {
                    opacity: 1;
                }
            }
        }

        &--priority {
            order: 1;
        }
    }

    &__check {
        background-color: $color-night-blue;
        border-radius: 4px;
        box-shadow: inset 0 0 1px 0 $color-light-blue;
        margin: 0;
        height: 20px;
        width: 20px;
        
        @media (hover: hover) {
            &:hover {
                background-color: $color-dark-blue3;
                cursor: pointer;
            }
        }

        .todo__item--completed & {
            background-color: $color-green;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M8.438 1.25l-4.688 4.688-2.188-2.188-1.563 1.563 3.75 3.75 6.25-6.25z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 10px;
            box-shadow: none;
        }
    }

    &__icon {
        cursor:pointer;
        display: none;

        @media (min-width: $laptop) {
            display: inline-block;
            transition: opacity .25s ease-in-out;
            opacity: 0;
        }
        
        svg {
            pointer-events: none;
        }

        .modal & {
            display: block;
        }
    }
    
    &__counter {
        align-items: center;
        background-color: $color-light-blue;
        border-radius: 50%;
        color: $color-dark-blue;
        display: inline-flex;
        font-size: 12px;
        height: 20px;
        justify-content: center;
        margin-left: 10px;
        padding-top: 4px;
        width: 20px;

        &:empty {
            display: none;
        }
    }

    &__text {
        color: $color-light-blue;
        flex: 1;
        font-family: $font-medium;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        padding-left: 30px;
        position: relative;

        &:before {
            @extend %priority-dot;

            .todo__item--priority & {
                background-color: $color-red;
            }
        }

        @media (min-width: $laptop) {
            font-size: 16px;
        }

        .todo__item--completed & {
            color: $color-gray-blue;
            text-decoration: line-through;
        }
    }
}