// COLORS
$color-black: #020713;
$color-red: #CD5050;
$color-dark-blue: #202A43;
$color-dark-blue2: #212944;
$color-dark-blue3: #27334F;
$color-gray-blue: #425277;
$color-night-blue: #141B2C;
$color-light-blue: #CBDDF0;

// FONTS
$font-bold: 'Poppins Bold';
$font-regular: 'Poppins Regular';
$font-medium: 'Poppins Medium';
$font-semi-bold: 'Poppins Semi-Bold';

// MEDIA QUERY SIZES
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// SPACING
$base-space-bottom: 30px;