main {
    background-color: $color-dark-blue;
    min-height: 100vh;
    
    @media (min-width: $laptop) {
        background-color: $color-night-blue;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 120px auto;
    }
}

.intro {
    padding: 40px 35px 0;
    margin-bottom: 40px;

    @media (min-width: $laptop) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
        padding: 40px 55px 0;
        position: sticky;
        top: 0;
    }
}

.section-title {
    align-items: center;
    display: flex;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
        margin-bottom: 10px;
    }
}

.todo-container {
    background-color: $color-dark-blue;
    padding: 0 35px 60px;

    @media (min-width: $laptop) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin: 0;
        padding: 40px 35px 0;
    }
}

.todo-inner {
    @media (min-width: $laptop) {
        margin: 0 auto;
        max-width: 810px;
    }
}