main {
    background-color: $color-dark-blue;
    min-height: 100vh;
    
    @media (min-width: $laptop) {
        background-color: $color-night-blue;
    }
}

.intro {
    padding: 40px 35px 0;
    margin-bottom: 40px;
}

.section-title {
    align-items: center;
    display: flex;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
        margin-bottom: 10px;
    }
}