.heading1 {
    color: $color-light-blue;
    font-family: $font-bold;
    font-size: 24px;
    font-weight: 700;
}

.heading2 {
    color: $color-light-blue;
    font-family: $font-medium;
    font-size: 16px;
    font-weight: 500;
}